<%= provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>        <%# _user.html.erb weergeven voor elke user (op de pagina) %>
</ul>

<%= will_paginate %>
