<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %> <!-- Rails magic calls app/views/microposts/_micropost.html.erb! -->
  </ol>
  <%= will_paginate @feed_items %>
<% end %>